main#parsaMag {
      section.img-mainmag-title {

            img {
                  border-radius: 5px 120px 10px 5px;
                  -webkit-border-radius: 5px 120px 10px 5px;
                  -moz-border-radius: 5px 120px 10px 5px;
                  -ms-border-radius: 5px 120px 10px 5px;
                  -o-border-radius: 5px 120px 10px 5px;
            }
      }
}